.list-rtl {
    direction: rtl;
    float: right;
    clear: both;
    text-align: right;
}

.list-centred {
    text-align: center;
    list-style: none;
    padding-left: 0px;
}

table thead tr td {
    font-weight: bold;
}